apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "36"
  name: homepage
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: homepage
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: homepage
    spec:
      containers:
      - env:
        - name: LOG_LEVEL
          value: debug
        - name: HOMEPAGE_VAR_GRAFANA_TOKEN
          valueFrom:
            secretKeyRef:
              key: GRAFANA_TOKEN
              name: homepage-secrets
        - name: HOMEPAGE_VAR_PROXMOX_SECRET
          valueFrom:
            secretKeyRef:
              key: PROXMOX_SECRET
              name: homepage-secrets
        - name: HOMEPAGE_VAR_PIHOLE_KEY
          valueFrom:
            secretKeyRef:
              key: PIHOLE_KEY
              name: homepage-secrets
        - name: HOMEPAGE_VAR_WEATHER_KEY
          valueFrom:
            secretKeyRef:
              key: WEATHER_KEY
              name: homepage-secrets
        - name: HOMEPAGE_ALLOWED_HOSTS
          value: homepage.local
        image: ghcr.io/gethomepage/homepage:latest
        imagePullPolicy: Always
        name: homepage
        ports:
        - containerPort: 3000
          protocol: TCP
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /app/config/kubernetes.yaml
          name: homepage-config
          subPath: kubernetes.yaml
        - mountPath: /app/config/services.yaml
          name: homepage-config
          subPath: services.yaml
        - mountPath: /app/config/widgets.yaml
          name: homepage-config
          subPath: widgets.yaml
        - mountPath: /app/config/proxmox.yaml
          name: homepage-config
          subPath: proxmox.yaml
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      serviceAccount: homepage
      serviceAccountName: homepage
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: homepage
        name: homepage-config